@model L02P02_2022MR655_2022VZ650.Models.Cliente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }

    .form-group {
        margin: 10px 0;
    }

    .btn-success {
        background-color: #55b776;
        border-color: #55b776;
    }

    .form-control {
        margin-bottom: 15px;
        text-align: center;
    }

    .row {
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-6 {
        width: 100%;
    }

    .full-width {
        width: 100%;
    }
</style>

<h1>Proceso de venta</h1>
<h4>Datos del Cliente</h4>


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" class=" w-100">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row w-100">
                <div class="col">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control full-width" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Apellido" class="control-label">Apellido</label>
                    <input asp-for="Apellido" class="form-control full-width" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control full-width" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="w-100">
                <label asp-for="Direccion" class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control full-width" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success w-100">Iniciar Venta</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
